*{
    margin:0;
    padding:0;
}

html, body, main {
    width: 100%;
    height: 100vh;
    background-color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#background, #interface{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    -webkit-transition: 1s -webkit-filter ease;
    -moz-transition: 1s -moz-filter ease;
    -moz-transition: 1s filter ease;
    -ms-transition: 1s -ms-filter ease;
    -o-transition: 1s -o-filter ease;
    transition: 1s filter ease, 1s -webkit-filter ease;
}

#title{
    font-size:56px;
    color:white;
    text-shadow: 1px 1px 10px #00000078;
    margin:12px 0;
}

#options{
    background-color: #333;
    position: absolute;
    bottom:-30%;
    z-index: 1;
    width: 100%;
    height: 30%;
    box-shadow: 0px 0px 10px #232323, 0px 6px 12px #464444d4 inset;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#criacao{
    background-color: #333;
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 100%;
    right: -30%;
    top:0;
    box-shadow: 0px 0px 10px #232323, 0px 6px 12px #464444d4 inset;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
}

.titulo-container{
    flex:0; 
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.titulo-container h2{
    color: white;
    align-self: flex-start;
    font-size:32px;
    margin:12px 24px;
    font-weight: lighter;
}

.container-button{
    font-weight: lighter;
    color:white;
    background-color: transparent;
    border: 0;
    font-size:32px;
    margin:12px 24px;
    cursor: pointer;
    transition: transform .2s ease;
}

.container-button:hover{
    transform: scale(1.1);
}

.container-button:active{
    transform: scale(0.9);
}

.botao-fechar{
    align-self: flex-end;
}

.primary-button{
    padding: 20px 42px;
    background-color: #eee;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px #23222259, 4px 4px 4px #ffffffad inset;
    border: 1px solid white;
    font-weight: lighter;
    font-size: 17px;
    transition: transform .2s ease;
    cursor: pointer;
    margin:12px 32px;
}

.primary-button:hover{
    transform: scale(1.02);
}


.primary-button:active{
    transform: scale(0.98);
}

.tema{
    flex:1;
    border:2px solid white;
    height: 40px;
    margin:14px;
    flex-grow: 0;
    min-width: 20%;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
}

.tema::after{
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    width: 20%;
    background-color: white;
    color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    width:0%;
    transition: all .2s ease;
}

.tema:hover{
    transform: scale(1.02);
}

.tema:hover:not(.selecionado)::after{
    width: 20%;
}

.tema:active{
    transform: scale(0.98);
}

.selecionado::after{
    content: "ATIVO";
    position: absolute;
    height: 100%;
    right: 0;
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px
}

.direction-control-button{
    color:white;
    background-color: transparent;
    border: 0;
    font-size:32px;
    justify-self: center;
    align-self: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex:1;
}

.column{
    display: flex;
    flex-direction: column;
    flex:1;
}

#temas{
    display: flex;
    flex-direction: row;
    flex:1;
    flex-wrap: wrap;
    justify-content: center;
}

.cores{
    display: flex;
    flex-direction: column;
}

.cor-input{
    position: relative;
    margin:6px 4px;
    border:2px solid white;
    width: 25%;
    height: 26px;
    padding:0 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#333;
}


/* The slider itself */
.slider {
-webkit-appearance: none;
width: 100%;
height: 10px;
border-radius: 5px;
background: #bbb8b8;
outline: none;
opacity:0.7;
-webkit-transition: opacity .15s ease-in-out;
transition: opacity .15s ease-in-out;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: white;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border: 0;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;
}

.grupo-filtro{
padding:0 24px;
margin:6px 0;
}

.grupo-filtro h2{
color:white;
font-weight: lighter;
margin:2px 0;
}

.grupo-filtro span{
color:white;
font-weight: lighter;
margin:2px 0;
}

.grupo-filtro #pre-visualizar{
    border:2px solid white;
    height: 40px;
    width: 100%;
}

#criacao-cores{
    display: flex; 
    flex:1; 
    flex-wrap: wrap;
}
