*{
    margin:0;
    padding:0;
}

html, body, main {
    width: 100%;
    height: 100vh;
    background-color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#background, #interface{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    -webkit-transition: 1s -webkit-filter ease;
    -moz-transition: 1s -moz-filter ease;
    -moz-transition: 1s filter ease;
    -ms-transition: 1s -ms-filter ease;
    -o-transition: 1s -o-filter ease;
    transition: 1s filter ease, 1s -webkit-filter ease;
}

#title{
    font-size:56px;
    color:white;
    text-shadow: 1px 1px 10px #00000078;
    margin:12px 0;
}

#options{
    background-color: #333;
    position: absolute;
    bottom:-30%;
    z-index: 1;
    width: 100%;
    height: 30%;
    box-shadow: 0px 0px 10px #232323, 0px 6px 12px #464444d4 inset;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#options .options-button{
    color:white;
    background-color: transparent;
    border: 0;
    font-size:32px;
    margin:12px 24px;
    cursor: pointer;
    transition: transform .2s ease;
}

#options .options-button:hover{
    transform: scale(1.1);
}

#options .options-button:active{
    transform: scale(0.9);
}

#close-button{
    align-self: flex-end;
}

.primary-button{
    padding: 20px 42px;
    background-color: #eee;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px #23222259, 4px 4px 4px #ffffffad inset;
    border: 1px solid white;
    font-weight: lighter;
    font-size: 17px;
    transition: transform .2s ease;
    cursor: pointer;
    margin:12px 32px;
}

.primary-button:hover{
    transform: scale(1.02);
}


.primary-button:active{
    transform: scale(0.98);
}

.tema{
    flex:1;
    border:2px solid white;
    height: 40px;
    margin:14px;
    flex-grow: 0;
    min-width: 20%;
    position: relative;
    transition: all .2s ease;
}

.tema::after{
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    width:0%;
    transition: all .2s ease;
}

.tema:hover{
    transform: scale(1.02);
}

.tema:hover:not(.selecionado)::after{
    width: 20%;
}

.tema:active{
    transform: scale(0.98);
}

.selecionado::after{
    content: "ATIVO";
    position: absolute;
    height: 100%;
    right: 0;
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px
}

.direction-control-button{
    color:white;
    background-color: transparent;
    border: 0;
    font-size:32px;
    justify-self: center;
    align-self: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex:1;
}

.styles{
    display: flex;
    flex-direction: row;
    flex:1;
    flex-wrap: wrap;
    justify-content: center;
}
